html {
    margin: 0;
    width: 98vw;
    box-sizing: border-box ; 
    overflow-x: hidden;
    background-color: aliceblue; 
}

.gradient-highlight-green {
    background: radial-gradient( circle farthest-corner at 96.1% 7.2%,  rgba(9,178,62,1) 0%, rgba(19,19,19,1) 100.2% );
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.gradient-highlight-green-two {
    background: radial-gradient( circle farthest-corner at 96.1% 7.2%,  rgb(3, 133, 44) 0%, rgb(116, 205, 84) 100.2% );
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-style: italic;
    font-weight: 700;
}

.gradient-highlight {
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgb(100, 135, 192) 0%, rgb(38, 43, 147) 100.7% );
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.gradient-highlight-two {
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgb(150, 184, 240) 0%, rgb(159, 161, 211) 100.7% );
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-style: italic;
    font-weight: 700
}

.gradient-highlight-three {
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgb(233, 155, 88) 0%, rgb(197, 63, 29) 100.7% );
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-style: italic;
    font-weight: 700
}

header {
    border: 3px solid black;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .4);
    border-top: none;
    border-left: none;
}

#logo {
    position: fixed;
    left: 0;
    height: 9vh;
}

nav {
    display: flex; 
    position: fixed;  
    top: 0;
    justify-content: right;
    width: 100vw;
    height: 9vh;
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
    border-bottom: 3px solid rgba(0, 0, 0, 0.8);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, .4);
    font-family: Merriweather; 
}

.nav-links  {
    display: inline-flex;
    justify-content: flex-end;
    margin-right: 5vw;
    padding-top: 2vh;
    font-size: 1.1em;
    font-style: bold;   
}

nav li {
    display: inline-flex;
    justify-content: flex-end;
    padding-left: 1.5vw;
    padding-right: 1.5vw; 
    font-family: sans-serif;
}

nav li:hover {
    color: rgb(253, 95, 27);
    text-decoration: underline;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

/* intro grid */

#main-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 1.5em;
    margin-top: 12vh;
    height: 60vh;    
}

.card-a {
    align-content: center;  
    font-size:3em;
    text-align: center;
    grid-row: 1 / span 12;
    grid-column: 1 / span 6;
    font-family: caudex;
    font-style: italic;
    font-weight: 550;
    background-color: aliceblue;
}

#sub-header {
    font-family: Nunito;
    font-weight: 400;
    font-size: 0.6em;
}
    
#card-b {
    grid-column: 7 / span 3;
    grid-row: 1 /  span 6;
    background-image: url("https://i.pinimg.com/originals/70/1a/e5/701ae5a485e5f36aebd2204449ee003b.jpg");
    background-size: cover;
    animation: cardEntrance;
    animation-duration: 1.5s;
    animation-fill-mode: backwards;
    box-shadow: 13px 13px 7px rgba(0, 0, 0, 0.6);
    border-top: none;
    border-left: none;
    border-radius: 5px;
}

.card-c {
    grid-column: 10 / span 3;
    grid-row: 1 /span 6;
    background-image: url("https://www.ringsend.com/media/Before_After_Classico_Limewash_in_a_Custom_Color_1.jpg");
    background-size: cover;
    box-shadow: 13px 13px 7px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    animation: cardEntrance;
    animation-duration: 1.5s;
    animation-fill-mode: backwards;
    animation-delay: 400ms;
}

 .card-d {
    grid-column: 7 / span 3;
    grid-row: 7 / span 6;
    background-color: red;
    background-image: url("https://i.pinimg.com/originals/ad/c3/1e/adc31e2229053cbaf0d4f5c5f43103eb.jpg");
    background-size: cover;
    box-shadow: 13px 13px 7px rgba(0, 0, 0, 0.6);
     border-radius: 5px;
    animation: cardEntrance;
    animation-duration: 1.5s;
    animation-fill-mode: backwards;
    animation-delay: 1200ms;
}

.card-e {
    background-color: black;
    grid-column: 10 / span 3;
    grid-row: 7 /span 6;
    background-image: url("https://homebnc.com/homeimg/2018/05/12-farmhouse-mirror-ideas-homebnc.jpg");
    background-size: cover;
     box-shadow: 13px 13px 7px rgba(0, 0, 0, 0.6);
      border-radius: 5px;
      animation: cardEntrance;
    animation-duration: 1.5s;
    animation-fill-mode: backwards;
    animation-delay: 800ms;
}

/*  "Learn more button"  */

#call-to-action {
    display: flex;
    margin: 0 auto;
    margin-top: 8.5vh;
    margin-bottom: 6.5vh;
    width: 30vw;
    justify-content: center;
    align-items: center;
    height: 7vh;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, .4);
    font-family: Merriweather;
    background-image: radial-gradient( circle farthest-corner at 96.1% 7.2%,  rgba(9,178,62,1) 0%, rgba(19,19,19,1) 100.2% );
    color: aliceblue;
    transition: transform 400ms ease-in;
}


#call-to-action:hover {
    cursor: pointer;
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
    color: black !important;
    transform: scale(1.1);
}

.call-to-action-text {
    color: aliceblue
}

#call-to-action:click {
    display: none
}

#sub-headers {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    height: 80vh;
    gap: 1em
}
.sub-header-header {
    display: flex;
    place-items: center;
    font-family: Merriweather;
    font-size: 2.5em;
}

#interior-card-a {
    display: flex;
    grid-row: 1 / span 3;
    grid-column: 1 / span 12;   
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url("https://images.squarespace-cdn.com/content/v1/666d965837ba6f431688ee78/b5aa7689-b4e4-4a38-af75-99f482a5d94b/Interior+Limewashed+Walls+(With+AI+Desk).jpg");
    border: 4px solid black;
    box-shadow: 20px 20px 10px rgba(255, 240, 240, 0.4);
    color: lightcyan
}

#interior-card-a-header {
    font-size: 3.4em;
    text-align: center;  
    width: 33%;
    margin-top: 2vh;
    }

#interior-card-a-subheader {  
    font-size: 1.7em;
    margin-top: -0.5vh;
    padding-top: 1vh;
    padding-left: 2vw;
    padding-right: 1vw;
    flex-direction: flex-start;
    line-height: 1.25;
    align-content: center;
}

#exterior-card-b {
    display: flex;
    grid-row: 5 / span 3;
    grid-column: 1 / span 12;
    color: lightcyan;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("https://i.pinimg.com/originals/b2/9b/54/b29b5480dcf627041b0903b3cf469876.png");
    border: 4px solid black;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, .4)
}

.content {
  /* position: relative; */
  z-index: 1;
}

#exterior-card-b-header {
    font-size: 3.4em;
    margin-top: 2vh;
    width: 33%;
    text-align: center;
}

#exterior-card-b-subheader {
    font-size: 1.7em;
    margin-top: -0.5vh;
    padding-top: 1vh;
    padding-left: 2vw;
    padding-right: 1vw;
    flex-direction: flex-start;
    line-height: 1.25;
    align-content: center;
}

#chimney-card-c {
    display: flex;
    grid-row: 9 / span 3;
    grid-column: 1 / span 12;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url("https://www.florentinemasonry.com/_Media/dsc_0090-3_med_hr.jpeg");
    color: lightcyan;
    border: 4px solid black;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, .4)
}


#chimney-card-c-header {
    font-size: 3.4em;
    margin-top: 2vh;
    width: 33%;
    text-align: center; 
}

#chimney-card-c-subheader {
    font-size: 1.8em;
    margin-top: -0.5vh;
    padding-top: 1vh;
    padding-left: 2vw;
    padding-right: 1vw;
    flex-direction: flex-start;
    line-height: 1.25;
    align-content: center;
}

#first-break {
    margin-top: 17vh;
    margin-bottom: 18vh;
    border: 2px solid black; 
    height: 3.5px;
    width: 67%;
    border-radius: 4px;
    background-image: radial-gradient( circle farthest-corner at -24.7% -47.3%,  rgba(6,130,165,1) 0%, rgba(34,48,86,1) 66.8%, rgba(15,23,42,1) 100.2% );
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .2)
}

/* Why Chosose Container */

#why-choose-container {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 85vh;
    margin-bottom: 20vh;
}

/*  General Card Styles */

.why-choose-card-small {
    font-size: 1.2em;
    font-family: Merriweather;
    border: 3px solid black;
    border-radius: 12px;
    padding-top: 3vh;
    padding-left: 1vw;
    padding-right: 1vw;
    align-content: center;    
    line-height: 1.5;
    text-align: center;
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );  
}

.why-text {
    background-image: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1% );
    border: 2px solid black;
    border-radius: 12px;
    padding-top: 4vh;
    height: 60%;
}

.why-choose-icon {
    align-content: center;
    height: 10%;
}

/* Card One */

#why-choose-card-one {
    grid-row: 1 / span 12;
    grid-column: 1 / span 6;
    font-family: Merriweather;
    font-size: 3.5em;
    text-align: center;
    margin: auto 0;
    line-height: 1.7
 }

/* Card Two */

#why-choose-card-two {
    display: inline-block;
    grid-row: 1 / span 6;
    grid-column: 7 / span 3;
}

#why-choose-two-text {
   
    background-image: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1% );
    border-radius: 12px;
    height: 60%;
}

.why-choose-icon-two {
    align-content: center;
    height: 10%;
}

/* Card Three */

#why-choose-card-three {
    
    grid-row: 1 / span 6;
    grid-column: 10 / span 3;
    border: 3px solid black;
}

.why-choose-icon-three {
    align-content: center;
    height: 30%;
    width: 40%;
    padding-top: 1vh;
    margin-left: 5.6vw;  
}

.why-choose-icon-three {
    height: 10%;
    align-content: center;
}

/*  Card Four */

#why-choose-card-four {
    grid-row: 7/ span 6;
    grid-column: 7 / span 3;    
    border: 3px solid black;
}


/*  Card Five */

#why-choose-card-five {
    grid-row: 7 / span 6;
    grid-column: 10 / span 3;
    border: 3px solid black;
}


/* closing-buttons */
#closing-buttons {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-bottom: 30vh;
}

.closing-button {
    height: 10vh;
    width: 33vw;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    background-image: radial-gradient( circle farthest-corner at 96.1% 7.2%,  rgba(9,178,62,1) 0%, rgba(19,19,19,1) 100.2% );
    color: aliceblue;
    height: 7vh;
    font-size: 20px;
    color: aliceblue;
    transition: transform 400ms ease-in;
}

.closing-button:hover {
    cursor: pointer;
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
    color: black !important;
    transform: scale(1.1);
}


footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows:  1fr;
    position: fixed;
    bottom: 0;
    height: 7vh;
    margin-bottom: .6vh;
    width: 100vw;
    border: 2px solid black;
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.4);
    font-size: 1em;
}

#footer-card-a {
    font-size: 1.3em;
    font-family: Merriweather;
    display: flex;
    text-align: center;
    justify-content: center;
    grid-row: 1 / 1;
    grid-column: 1 / span 2;
    
}

#footer-card-b {
    display: flex;
    margin: 0 auto;
    font-family: Merriweather;
    font-weight: 600;
    color: black;
    text-align: center;
    font-size: 1.4em;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .4), -2px -2px 3px rgba(0, 0, 0, .4);
    border-radius: 5px;
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
    place-items: center;
    grid-row: 1 / span 1;
    grid-column: 3 / span 7;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}

#footer-card-c {
    display: flex;
    align-items: center;
    justify-content: space-evenly;width: 100%;

    grid-row: 1 / span 1;
    grid-column: 10 / span 3;
    
    overflow-x: hidden;

}

@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);

  }
  to {
    opacity: 1;
    transform: scale(1);
    
  }
}

@media (max-width: 480px) {
    body {
        padding-right: 1vw;
    }
    header {
        height: 7vh;
        font-size: 1.1em;
    
    }
    #logo {
        height: 8vh;
        margin-left: 1vw;
        border-radius: 5px;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, .4);
        margin-top: .5vh;
    }

    ul li{
        font-size: .6em;
        margin-left: 0;
        padding-left: 0;
        padding-right: 4vw;
    }

    
    #main-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(9, 1fr);
    }
    .card-a {
        grid-row: 2 / span 1;    
        grid-column: 2 / span 10;
        font-size: 2.16em;
        margin-top: -6vh;
    }
    #card-b {
        grid-row: 3 / span 4;
        grid-column: 1 / span 4;
    }
    .card-d {
        grid-row: 3 / span 4;
        grid-column: 5 / span 4;
    }
    .card-e {
        grid-row: 3 / span 4;
        grid-column: 9 / span 4;
    }
    .card-c {
        display: none;
    }
    #call-to-action {
        margin-top: -22vh;
        width: 80vw;
        height: 6vh;
        font-size: 18px;
    }

    #sub-headers {
        margin-top: 15vh;
        display: grid;
        height: 65vh;
        grid-template-rows: repeat(16, 1fr);
        grid-template-columns: repeat(12, 1fr);
       
        gap: 1.15em;
    }

    #interior-card-a {
       grid-row: 1 / span 5;
        grid-column: 1 / span 12;   

        
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url("https://images.squarespace-cdn.com/content/v1/666d965837ba6f431688ee78/b5aa7689-b4e4-4a38-af75-99f482a5d94b/Interior+Limewashed+Walls+(With+AI+Desk).jpg");
    }
    #interior-card-a-header {
        font-size: 1.6em;
        text-align: center;
        width: 25%;
    }
    #interior-card-a-subheader {  
        font-size: 1.3em;
        margin-top: -0.5vh;
        padding-top: 1vh;
        padding-left: 2vw;
        padding-right: 1vw;
        flex-direction: flex-start;
        line-height: 1.25;
        align-content: center;
    }
    #exterior-card-b {
        grid-row: 6 / span 5;
        grid-column: 1 / span 12;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("https://i.pinimg.com/originals/b2/9b/54/b29b5480dcf627041b0903b3cf469876.png");
    }  
    #exterior-card-b-header {
        font-size: 1.6em;
        text-align: center;
        width: 25%;
    }

    #exterior-card-b-subheader {
        font-size: 1.31em;
        margin-top: -0.5vh;
        padding-top: 1vh;
        padding-left: 2vw;
        padding-right: 1vw;
        flex-direction: flex-start;
        line-height: 1.25;
        align-content: center;
    }

    #chimney-card-c {
        grid-row: 11 / span 5;
        grid-column: 1 / span 12;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url("https://www.florentinemasonry.com/_Media/dsc_0090-3_med_hr.jpeg");
    }

    #chimney-card-c-header {
        font-size: 1.2em;   
        text-align: center;
        width: 25%;
    }

    #chimney-card-c-subheader {
        font-size: 1.17em;
        margin-top: -0.5vh;
        padding-top: 1vh;
        padding-left: 2vw;
        padding-right: 1vw;
        flex-direction: flex-start;
        line-height: 1.25;
        align-content: center;
    }

    nav {
        margin-right: 0;
        margin-left: 0;
        width: 100vw;   
    }
    #main-grid {
        height: 100vh;
        margin-top: -2vh;
    }
  
    footer {
        position: fixed;
        bottom: 0;
        height: 8vh;
        width: 100vw;
        font-size: 0.8em;
    }

   #footer-card-a {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    font-size: 0.85em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column; 
    place-items: center;
    font-family: Nunito;
   }
   #footer-card-b {
    display: flex;
    font-family: Merriweather;
    grid-row: 1 / span 1;
    grid-column: 3 / span 7;
    font-size: 1em;
    
   }
    #footer-card-c {
     grid-row: 1 / span 1;
     grid-column: 10 / span 2;
     font-size: 0.8em;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
    }



}
